#! /usr/bin/env bash

export DIRENV_ROOT="$(echo $PWD)"

# Try not to put logic in here as it will need to be re-allowed with `direnv allow .` on all changes
# instead, put scripts in rc.d and source them here, which also makes them easier to test
# and review.
# rc means runcommands, synonymous with the rc in bashrc, zshrc, eslintrc, npmrc, etc.

# source all files in the rc.d directory. We trust this repository so this allows us to load these when they
# change/get added without having to re-approve the changes each time with `direnv allow .`
for file in ${DIRENV_ROOT}/rc.d/*; do
  source "${file}"
done
